{% extends 'base.html.twig' %}

{% block title %}SUBSKILL{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Mes offres d'emploi</h1>


    <form method="GET" action="{{ path('app_app') }}">
        <label for="job">Métier:</label>
        <select name="job" id="job">
            <option value="">Tous</option>
            {#Cherche tout les jobs dans la DB#}
            {% for jobData in jobsData %}
                <option value="{{ jobData.jobname }}">{{ jobData.jobname }}</option>
            {% endfor %}
        </select>
        
        <label for="contract">Contrat:</label>
        <select name="contract" id="contract">
            <option value="">Tous</option>
            {#Cherche tout les contrats dans la DB#}
            {% for contractData in contractsData %}
                <option value="{{ contractData.contractname }}">{{ contractData.contractname }}</option>
            {% endfor %}
        </select>
        
        <label for="city">Ville:</label>
        <select name="city" id="city">
            <option value="">Tous</option>
            {#Cherche toutes les villes dans la DB#}
            {% for cityData in citiesData %}
                <option value="{{ cityData.cityname }}">{{ cityData.cityname }}</option>
            {% endfor %}
        </select>
        
        <button type="submit">Filtrer</button>
    </form>
    <a href="{{ path('app_app')}}">Reset</a>

    {% if maxPage > 0 %}
        {% for jobAnnouncement in jobAnnouncements %}
            <div id="{{jobAnnouncement.id}}">
            <script>
                fetch('https://some-random-api.ml/meme/')
    .then((response) => response.json())
    .then((json) =>{
        let imgUrl = json.image;
        console.log(imageUrl)
        let img = document.createElement('img');
        console.log(img)
        img.src = imageUrl
        let divParent = document.getElementById('{{jobAnnouncement.id}}');
        console.log(divParent)
        if (divParent) {
            divParent.appendChild(img);
        } else {
            console.error('Div element not found.');
        }


    });
            </script>
                <h3>{{jobAnnouncement.announcementsTitle}}</h3>
                <p>Référence : {{jobAnnouncement.id}}</p>
                <p>Ville : {{jobAnnouncement.city}}</p>
                <p>Contrat : {{jobAnnouncement.contract}}</p>
                <p>Métier : {{jobAnnouncement.job}}</p>
                <p>Entreprise : {{jobAnnouncement.company}}</p>
                <p>Description : {{jobAnnouncement.description|slice(0, 30)}}</p>
                <p>Le {{jobAnnouncement.publishdate|date('d/m/y')}}</p>
            </div>
            
        {% endfor %}
        <p>Page actuelle : {{ pages }}</p>

        {% set currentPage = app.request.query.get('pages', 1) %}
        {% set actualjobname = app.request.query.get('job', '') %}
        {% set actualcontractname = app.request.query.get('contract', '') %}
        {% set actualcityname = app.request.query.get('city', '') %}
        
        {% if currentPage > 1 %}
            {% set prevPage = currentPage - 1 %}
            <a href="{{ path('app_app', {'pages': prevPage, 'job': actualjobname, 'contract': actualcontractname, 'city': actualcityname}) }}">Previous Page</a>
        {% endif %}

        {% if currentPage < maxPage %}
            {% set nextPage = currentPage + 1 %}
            <a href="{{ path('app_app', {'pages': nextPage, 'job': actualjobname, 'contract': actualcontractname, 'city': actualcityname}) }}">Next Page</a>
        {% endif %}
        {% else %}
        <h2> Aucune annonce disponible</h2>
    {% endif %}


    

    

</div>
{% endblock %}
